Repository k3rnels-actions/pr-update, pull requests merged in 2023-07, with the labels that each got.

#189 Changed the branch checking logic to use getRef from octokit
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  src/main.ts
  src/util/gitUtils.ts
Labels: enhancement

#191 fix: git util tests
  __tests__/util/gitUtil.test.ts
Labels: bugfix, tests

#192 fix: missing initialised octokit
  __tests__/util/gitUtil.test.ts
Labels: bugfix, tests

#190 Do not update PR body if it is empty
  dist/index.js
  dist/index.js.map
  src/main.ts
Labels: bugfix
